.identifyButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 15px;
    gap: 20px;
}

.identifyButtonContainer > div{
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 10px;
}

.identifyButtonContainer > div > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    width: 300px;
}


.identifyButtonContainer > div > div > span {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .contactContainer{
        width: 100%;
        padding: 15px;
    }

    .contactFormContainer{
        padding: 30px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .identifyButtonContainer > div{
        flex-direction: column;
    }

    .identifyButtonContainer > div > div{
        width: 100%;
    }
}